CREATE TABLE IF NOT EXISTS [dbo].[Tables] ([Id] UNIQUEIDENTIFIER NOT NULL, [Number] NVARCHAR(50) NOT NULL, [Description] NVARCHAR(200) NULL, [Capacity] INT NOT NULL, [Status] NVARCHAR(50) NOT NULL, [Location] NVARCHAR(100) NOT NULL, [IsActive] BIT NOT NULL DEFAULT 1, [IsDeleted] BIT NOT NULL DEFAULT 0, [OrderId] UNIQUEIDENTIFIER NULL, [QrCode] NVARCHAR(255) NULL, [CurrentOrderId] UNIQUEIDENTIFIER NULL, [CreatedAt] DATETIME2 NOT NULL, [CreatedBy] NVARCHAR(100) NOT NULL, [LastModifiedAt] DATETIME2 NULL, [LastModifiedBy] NVARCHAR(100) NULL, CONSTRAINT [PK_Tables] PRIMARY KEY ([Id]));
